<div class="app-links {{modifier_class }}">
  {{#each links}}
  <a class="app-links__link" href="{{ href }}" alt="{{ alt }}">
    <img width="{{ width }}" src="{{ image }}">
  </a>
  {{/each}}
</div>
