<div class="card {{ modifier_class }}{{#if type}} card--{{ type }}{{/if}}">
  <div class="card__inner">
    {{#if thumbnail}}
      <div class="card__thumbnail thumbnail{{#if thumbnail.class}} {{ thumbnail.class }}{{/if}}">
        <a href="{{ url }}">
          {{#with thumbnail}}
            {{#if src}}
              <img src="{{ src }}" alt="{{ alt }}" />
            {{else if icon}}
              <i class="icon {{ icon }}"></i>
            {{/if}}
          {{/with}}
        </a>
      </div>
    {{/if}}
    <div class="card__details">
      {{#if quote}}
        <div class="card__quote-wrapper">
          <h3 class="card__quote">
            <a href="{{ url }}">
              {{{ quote }}}
            </a>
          </h3>
        </div>
      {{/if}}
      {{#if label}}
        <div class="card__label">
          <span class="text--label">{{ label }}</span>
          {{#unless quote}}
            <hr class="divider divider--dashed">
          {{/unless}}
        </div>
      {{/if}}
      {{#if title}}
        <h3 class="card__title">
          <a href="{{ url }}">{{ title }}</a>
        </h3>
      {{/if}}
      {{#if tags}}
        <div class="card__tags">
          {{> tags-list tags}}
        </div>
      {{/if}}
      {{#if summary}}
        <div class="card__summary">
          <a href="{{ url }}">
            {{{ summary }}}
          </a>
        </div>
      {{/if}}
    </div>
  </div>
</div>
