<form class="content-search {{modifier_class}}" autocomplete="off">
  <input class="content-search__input" type="search" name="{{ id }}" placeholder="{{ placeholder }}">
  <button class="content-search__button content-search__submit" type="submit" name="{{ id }}Submit"><i class="icon icon--search"></i></button>
  <button class="content-search__button content-search__reset" type="reset" name="{{ id }}Reset"><i class="icon icon--close-window-style2"></i></button>
</form>
