<div class="content-search contextual-search">
  <div class="contextual-search__ui">
    <form class="contextual-search__form" autocomplete="off">
      <input class="content-search__input" type="search" name="{{ id }}" placeholder="{{ placeholder }}">
      <button class="content-search__button content-search__submit" type="submit" name="{{ id }}Submit"><i class="icon icon--search"></i></button>
      {{!-- @todo replace nic cage with close icon --}}
      <button class="content-search__button content-search__reset" type="reset" name="{{ id }}Reset"><i class="icon icon--close-window-style2"></i></button>
    </form>
    <div class="contextual-search__results">
      {{#each results}}
      <a href="#row{{@index}}" class="contextual-search__results-row">
        <div class="contextual-search__title">{{ title }}</div>
        <div class="contextual-search__meta">{{ meta }}</div>
        <div class="contextual-search__category">{{ category }}</div>
      </a>
      {{/each}}
      <a href="#more" class="contextual-search__results-row contextual-search__more">
        {{ moreResultsText }}
      </a>
    </div>
  </div>
</div>

<img src="https://cloud.githubusercontent.com/assets/153132/11155558/2140d822-89fb-11e5-9cef-5eaed5798b77.jpeg" alt="Optional image of Nicolas Cage">
