<div class="cross-reference-2">
  {{#each items}}
    <div class="cross-reference-2__item grid--6">
      <div class="cross-reference-2__image">
        <a href="{{ link.href }}">
          {{#if image}}
            <img src="{{ image.src }}" title="{{ image.alt }}">
          {{/if}}
          {{#if icon}}
            <i class="icon icon--{{ icon }}"></i>
          {{/if}}
        </a>
      </div>

      <div class="cross-reference-2__copy">
        {{#if title}}
          <h5 class="cross-reference-2__title">{{ title }}</h5>
        {{/if}}

        {{#with link}}
          <p class="cross-reference-2__link">
            {{> link-formatted}}
          </p>
        {{/with}}
      </div>
    </div>
  {{/each}}
</div>
