<a class="cta{{#if type }} cta--{{type}}{{/if}}{{#if color }} cta--{{color}}{{/if}}{{#if icon }} cta--{{icon}}{{/if}} {{modifier_class}}" href="{{ url }}"{{#if revealTarget }} data-reveal-target="{{ revealTarget }}"{{/if}}{{#if revealMedia}} data-reveal-media="{{ revealMedia }}"{{/if}}{{#if revealCurtain }}data-reveal-curtain="{{ revealCurtain }}"{{/if}}>
  {{ text }}
</a>
