<div class="feature-highlight {{ modifier_class }}" {{#if reveal}} id="{{ reveal.curtainId }}"{{/if}}>
  <div class="feature-highlight__image">
    {{#if link.href}}
      <div class="thumbnail {{ thumbnail.modifier_class }}">
        <a href="{{ link.href }}" {{#if link.class}}class="{{ link.class }}"{{/if}} {{#if link.dataAttrs}} {{{attrs link.dataAttrs}}}{{/if}}>
          {{#with thumbnail}}
            <img src="{{ src }}"{{#if attributes}} {{{attrs attributes}}}{{/if}} />
          {{/with}}
        </a>
      </div>
    {{else}}
      {{#with thumbnail}}
        <img src="{{ src }}"{{#if attributes}} {{{attrs attributes}}}{{/if}} />
      {{/with}}
    {{/if}}
  </div>

  <div class="feature-highlight__copy">
    {{#if heading}}
      <h3 class="heading-highlight">{{{ heading }}}</h3>
    {{/if}}

    {{#if copy}}
      {{{ copy }}}
    {{/if}}

    {{#with link}}
      {{> link-formatted}}
    {{/with}}

    {{#each links}}
      {{> link-formatted}}
      {{#unless @last}}<span class="text--label"> | </span>{{/unless}}
    {{/each}}
  </div>
</div>

{{#with reveal}}
  {{> reveal-helper}}
{{/with}}
