<div class="form {{modifier_class}}">
  <div class="form__intro">
    <h3 class="form__intro-heading">{{heading}}</h3>
    <div class="form__intro-description">
      {{{description}}}
    </div>
  </div>

  {{#each fields.list}}
  <div class="form__field form-field has-float-label">
    <label class="form-field__label" for="{{name}}">{{label}}</label>
    <input class="form__control form-field__control" type="{{type}}" name="{{name}}" placeholder="{{placeholder}}">
  </div>
  {{/each}}

  <div class="form__actions">
    <input class="form__button cta cta--secondary" type="submit" value="Submit">
  </div>
</div>
