<div class="person-teaser {{ modifier_class }}">

  {{!-- Person photo / avatar --}}
  {{#if image}}
  <div class="person-teaser__image">{{{ image }}}</div>
  {{/if}}

  {{!-- Wrapper for details about a person --}}
  <div class="person-teaser__info">
    {{!-- Person name --}}
    {{#if name}}
      <h4 class="person-teaser__name">{{ name }}</h4>
    {{/if}}

    {{!-- Person description / profile --}}
    {{#if jobTitle}}
    <div class="person-teaser__job-title">
      {{{ jobTitle }}}
    </div>
    {{/if}}

    {{#if bio}}
    <div class="person-teaser__bio">
      {{{ bio }}}
    </div>
    {{/if}}

    {{!-- Social links --}}
    {{#if social}}
      <div class="person-teaser__social">
      {{#each social}}
        <a class="link--social link--social-{{ name }}" href="{{ url }}"><i class="icon icon-social-{{ name }}"></i></a>
      {{/each}}
      </div>
    {{/if}}
  </div>

</div>
