<div class="responsive-filter">

  <label class="responsive-filter__heading">{{ heading }}</label>
  <div class="responsive-filter__select"></div>

  <div class="responsive-filter__radios">
    {{#each inputs}}
      <div class="form-field">
        <input class="form-field" type="radio" id="radio-{{id}}" name="{{../group}}" value="{{value}}" {{#if checked}}checked{{/if}}>
        <label class="form-field__label" for="radio-{{id}}">{{label}}</label>
      </div>
    {{/each}}
  </div>
</div>
