{{#with share}}
<div class="social-share">
  <a class="social-share__toggle" href="#"><i class="icon icon--share"></i> {{label}}</a>

  <div class="social-share__widgets">
    {{#each widgets}}
      <div class="social-share__widget social-share__widget-{{type}}" data-social="{{type}}">
        {{#if counter}}
        <div class="social-share__counter">{{{ counter }}}</div>
        {{/if}}
        <a href="#" class="social-share__link social-share__link-{{type}}">
          <i class="icon {{icon}}"></i>
        </a>
      </div>
    {{/each}}
  </div>
</div>
{{/with}}
