<div class="teaser-item {{ modifier_class}}{{#if width}} grid--{{ width }}{{/if}}">
  {{#if icon}}
    <div class="teaser-item__icon">
      {{#if link}}<a href="{{ link.href }}" class="{{ link.class}}" {{#if link.dataAttrs}} {{{attrs link.dataAttrs}}}{{/if}}>{{/if}}
        <span class="icon--{{ icon }}"></span>
      {{#if link}}</a>{{/if}}
    </div>
  {{/if}}

  {{#if thumbnail}}
    <div class="teaser-item__thumbnail">
      {{#if link}}<a href="{{ link.href }}" class="{{ link.class}}" {{#if link.dataAttrs}} {{{attrs link.dataAttrs}}}{{/if}}>{{/if}}
        {{#with thumbnail}}
          {{> thumbnail }}
        {{/with}}
      {{#if link}}</a>{{/if}}
    </div>
  {{/if}}

  <div class="teaser-item__info">
    {{#if eyebrow}}
      <div class="teaser-item__eyebrow">
        <span class="text--label">{{{ eyebrow }}}</span>
      </div>
    {{/if}}

    {{#if title}}
      <h5 class="teaser-item__title">
        {{#if link}}<a href="{{ link.href }}" class="{{ link.class}}" {{#if link.dataAttrs}} {{{attrs link.dataAttrs}}}{{/if}}>{{/if}}
          {{{ title }}}
        {{#if link}}</a>{{/if}}
      </h5>
    {{/if}}

    {{#if label}}
      <p class="teaser-item__label">
        {{{ label }}}
      </p>
    {{/if}}

    {{#if description}}
      <p class="teaser-item__description">
        {{{ description }}}
      </p>
    {{/if}}

    {{#with tags}}
      {{> tags-list}}
    {{/with}}

    {{#with link}}
      <p class="teaser-item__link">
        {{> link-formatted}}
      </p>
    {{/with}}
  </div>
</div>
