<div class="title-box {{ modifier_class }} grid--4">
  <h3 class="title-box__title">{{ title }}</h3>
  <div class="title-box__inner">
    {{{ content }}}
  </div>
</div>

<div class="title-box {{ modifier_class }} grid--8">
  <h3 class="title-box__title">{{ title }}</h3>
  <div class="title-box__inner grid--6">
    {{{ content }}}
  </div>
  <div class="title-box__inner grid--6">
    {{{ content }}}
  </div>
</div>
