<ul id="{{ id }}" class="video-playlist {{ modifier_class }}">
  {{#each list}}
    <li class="video-playlist__item {{#if active}}is-active{{/if}}">
      <a class="video-playlist__link" href="{{ link }}">
        <div class="video-playlist__play"><i class="icon icon--play"></i></div>
        <div class="video-playlist__title">{{{ title }}}</div>
        <div class="video-playlist__watched">{{#unless watched}}<i class="icon icon--circle-filled-orange"></i>{{/unless}}</div>
        <div class="video-playlist__length">{{{ length }}}</div>
      </a>
    </li>
  {{/each}}
</ul>
