{{#with video }}
<div style="display: block; position: relative; max-width: 100%;">
  <div style="display: block; padding-top: 56%;">
    <video id="{{id}}" data-video-id="{{vid}}" data-account="{{account}}" data-player="{{player}}" data-embed="{{embed}}" class="video-js" controls="" style="width: 100%; height: 100%; position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px;"></video>
  </div>
</div>
{{/with }}
